h1 {
    color:pink;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
h2{
      color:palevioletred;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
header{
   color:red;
   background:forestgreen;
    padding: 5px;
    margin: 15px;
    font: serif;
}
section {
   color:cyan;
   background:forestgreen;
    padding: 5px;
    margin: 15px;
    font: serif;
}
em {
      color:whitesmoke;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
p {
       color:yellowgreen;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
nav {
       color:aqua;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: comic;
}
ul {
       color:green;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
li {
      color:goldenrod;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
form{
   color:brown;
   background:forestgreen;
    padding: 5px;
    margin: 15px;
     font: comic;
}
label{
   color:violet;
   background:gray;
    padding: 5px;
    margin: 15px;
    font: comic;
}
input{
   color:black;
   background:gray;
    padding: 5px;
    margin: 15px;
     font: comic;
}
option{
   color:gainsboro;
   background:gray;
    padding: 5px;
    margin: 15px;
      font: comic;
}
.games{
   color:plum;
     background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
.dogs{
   color:bisque;
     background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
.bio{
   color:coral;
    background:gray;
    padding: 5px;
    margin: 15px;
    font: serif;
}
.wacky{
   color:hotpink;
     background:gray;
    padding: 5px;
    margin: 15px;
     font: comic;
}
#main{
   color:lawngreen;
    background:gray;
    padding: 5px;
    margin: 15px;
    font: comic;
}
#talk{
   color:aquamarine;
    background:gray;
    padding: 5px;
    margin: 15px;
  font: comic;
}
#me{
   color:blue;
    background:gray;
    padding: 5px;
    margin: 15px;
    font: comic;
}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
