h1 {
    color:aqua
    background-color:red
    padding: 5px
    margin: 15px
}
section {
    color:aqua
}
em {
    color:aqua
}
p {
    color:aqua
}
nav {
    color:aqua
}
ul {
    color:aqua
}
li {
    color:aqua
}
.